$buttonColorOptions: primary, accent, info, success, warning, danger;
:root {
  --button-fg-filled: var(--natural-0);
}

@mixin button-base() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  text-align: center;
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.15s ease, color 0.15s ease,
  box-shadow 0.15s ease, border-color 0.15s ease;

  border-width: 1px;
  border-style: solid;
  border-color: var(--transparent);

  font-weight: var(--weight-semibold);
  border-radius: var(--radius-default);
  background: var(--transparent);

  &.btn-icon {
    gap: unset;
    padding: unset;
  }

  &:focus {
    &:focus-visible {
      outline-offset: 0.125rem;
      outline: 0.125rem solid red;
    }
  }

  &:disabled {
    background-color: #cccccc;
    color: red;
    cursor: initial;
  }
}

@mixin button-filled() {
  &.btn-filled {
    color: var(--button-fg-filled);

    @each $color in $buttonColorOptions {
      &.color-#{$color} {
        &:not(:disabled) {
          background-color: var(--button-bg-filled-#{$color});

          &:hover {
            background-color: var(--button-bg-filled-#{$color}-hover);
          }

          &:active,
          &.active {
            background-color: var(--button-bg-filled-#{$color}-active);
          }
        }
      }
    }
  }
}
@mixin button-outline() {
  &.btn-outline {
    background-color: var(--transparent);
    border-color: currentColor;

    @each $color in $buttonColorOptions {
      &.color-#{$color} {
        &:not(:disabled) {
          color: var(--button-fg-outline-#{$color});

          &:hover {
            background-color: var(--button-bg-outline-#{$color}-hover);
          }

          &:active,
          &.active {
            background-color: var(--button-bg-outline-#{$color}-active);
          }
        }
      }
    }
  }
  &.border-light {
    border-color: rgb(var(--border-100));
  }
}

@mixin button-light() {
  &.btn-light {
    @each $color in $buttonColorOptions {
      &.color-#{$color} {
        &:not(:disabled) {
          background-color: var(--button-bg-light-#{$color});
          color: var(--button-fg-light-#{$color});

          &:hover {
            background-color: var(--button-bg-light-#{$color}-hover);
          }

          &:active,
          &.active {
            background-color: var(--button-bg-light-#{$color}-active);
          }
        }
      }
    }
  }
}

.btn {
  @include button-base();
  @include button-filled();
  @include button-outline();
  @include button-light();
}
