$spacingSizes: none,3xs,2xs,xs,sm,md,lg,xl,2xl,3xl;
@each $size in $spacingSizes {
  // Margin
  .m-#{$size} {
    margin: var(--space-#{$size}) !important;
  }
  .my-#{$size} {
    margin-top: var(--space-#{$size}) !important;
    margin-bottom: var(--space-#{$size}) !important;
  }
  .mx-#{$size} {
    margin-left: var(--space-#{$size}) !important;
    margin-right: var(--space-#{$size}) !important;
  }
  .mt-#{$size} {
    margin-top: var(--space-#{$size}) !important;
  }
  .mr-#{$size} {
    margin-right: var(--space-#{$size}) !important;
  }
  .mb-#{$size} {
    margin-bottom: var(--space-#{$size}) !important;
  }
  .ml-#{$size} {
    margin-left: var(--space-#{$size}) !important;
  }

  // Padding
  .p-#{$size} {
    padding: var(--space-#{$size}) !important;
  }
  .py-#{$size} {
    padding-top: var(--space-#{$size}) !important;
    padding-bottom: var(--space-#{$size}) !important;
  }
  .px-#{$size} {
    padding-left: var(--space-#{$size}) !important;
    padding-right: var(--space-#{$size}) !important;
  }
  .pt-#{$size} {
    padding-top: var(--space-#{$size}) !important;
  }
  .pr-#{$size} {
    padding-right: var(--space-#{$size}) !important;
  }
  .pb-#{$size} {
    padding-bottom: var(--space-#{$size}) !important;
  }
  .pl-#{$size} {
    padding-left: var(--space-#{$size}) !important;
  }
  .strong{
    color: var(--natural-900);
  }
}